<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
</head>
<body>
    <form action="/api/signin" method="post">
        <label for="">email</label>
        <input type="email" name="email">
        <label for="">password</label>
        <input type="password" name="password">

        <input type="submit" value="Connexion">
    </form>
</body>
</html>